nav,
.content>*:not(hr),
.answer>*:not(hr){
	width: 85%;
	margin-left: auto;
	margin-right: auto;
}
nav{
	margin-top: 10px;
	height: 20px;
}
nav *{
	height: 100%;
}
nav .pull-right{
	margin-left: 10px;
}
.bank-progress{
	line-height: 25px;
	font-size: 1.5rem;
}
.bank-progress .number{
	font-size: 1.3em;
}
.content{
	font-size: 1.3rem;
}
.title{
	font-size: 1.7rem;
	line-height: 1.8rem;
}
.head-bar{
	margin-top: 30px;
	margin-bottom: 22px;
}
.checkbox{
	margin-bottom: 25px;		
	padding-left: 2px;
	padding-right: 2px;

	display: -webkit-flex; /* Safari */
	display: flex;
	align-items: baseline;
}
.checkbox button{
	margin-right: 10px;
}
.checkbox .checked{
	border-color: #FAC501;
}
.checkbox .correct{
	background-color: #32b16c;
	color: #fff;
}
.checkbox .incorrect{
	background-color: #ec6941;
	color: #fff;
}
.btn-bar{
	margin-top: 45px;
	text-align: center;
}
.btn-bar button{
	width: 90px;
	margin-right: 30px;
	font-size: 1.3rem;
	border-radius: 6px;
}
.btn-bar button:last-child{
	margin-right: 0px;
}
.foot-bar{
	margin-top: 20px;
	margin-bottom: 15px;
}
.answer p{
	margin-bottom: 10px;
	font-size: 0.8rem;
}
