<meta charset="utf-8">
<link rel="shortcut icon" href="__ROOT__/favicon.ico" />
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link href="//cdn.bootcss.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="__CSS__/background.css"/>
<script src="//cdn.bootcss.com/jquery/1.11.2/jquery.min.js"></script>
<script src="//cdn.bootcss.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
<!-- <script src="__Common__/bootstrap.min.css"></script> -->
<!-- <script src="__Common__/jquery.min.js"></script> -->
<!-- <script src="__Common__/bootstrap.min.js"></script> -->
