<meta charset="utf-8">
<link rel="shortcut icon" href="__ROOT__/favicon.ico" />
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
<link href="//cdn.bootcss.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
<!-- <link rel="stylesheet" type="text/css" href="__ROOT__/Public/Common/bootstrap.min.css"></script> -->
<link rel="stylesheet" type="text/css" href="__CSS__/common.css"/>
<script src="//cdn.bootcss.com/jquery/1.11.2/jquery.min.js"></script>
<script src="//cdn.bootcss.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
<!-- <script src="__ROOT__/Public/Common/jquery.min.js"></script> -->
<!-- <script src="__ROOT__/Public/Common/bootstrap.min.js"></script> -->
<script src="__JS__/base.js"></script>
