<extend name="Public:base" />
<block name="title">易百分—{$course}</block>
<block name="othercss">
	<style type="text/css">
	.bank-item{
		margin-bottom: 20px;
	}
	.item-case{
		width: 80%;
		font-size: 1.5rem;
		height: 40px;
	}
	.bank-number{
		width: 30px;
		border-right: 1px solid;
		border-color: inherit;
		flex-shrink: 0;
	}
	.bank-progress{
		color: #B3B3B3;
		font-size: 1rem;
		margin-right: 5px;
		flex-shrink: 0;
	}
	</style>
</block>
<block name="otherjs">
	<include file="./Public/Home/js/localstorage.html" />
	<script type="text/javascript">
	$(function(){
		$('.bank-item').click(function(event) {
			var bank = $(this).attr('id');
			var url = "{:U('Practice/index')}" + '/bank/' + bank;
			location.href = url;
		});
		$('.bank-progress').each(function(){
			var bank = $(this).parents('.bank-item').attr('id');
			var userStorage = new UserStorage(bank);
			var $complete = $(this).find('.complete');
			if (userStorage.isExist()){
				var userData = userStorage.getAll();
				var progress = userData.length;
				$complete.html(progress);
				userStorage.upload();
			}else if ($complete.html() != 0){
				userStorage.download();
			}
		})
	})
	</script>
</block>
<block name="main">
	<ul>
		<empty name="list">
			<li class="item-case"><span class="center-block">还没有相关题库哦~</span></li>
		</empty>
		<foreach name="list" item="vo">
			<li id="{$vo['alias']}" class="bank-item item-case">
				<div class="bank-number">{$key + 1}</div>
				<div class="bank-name">{$vo['name']}</div>
				<div class="bank-progress flex-end">
					进度：
					<span class="complete">{$vo['progress']}</span>
					/ {$vo['amount']}
				</div>
			</li>
		</foreach>
	</ul>
</block>