<extend name="Public:base" />
<block name="title">{$course}-题库选择</block>
<block name="othercss">
	<style type="text/css">
	html,body{
		height: 100%;
	}
	.banner{
		width: 100%;
		margin: 10px 0 10px 0;
	}
	ul{
		margin-top: 40px;
	}
	.bank-item{
		margin-bottom: 40px;
	}
	.item-case-bg{
		width: 85%;
	}
	.item-case-bg:active{
		border-color: #ffd966;
	}
	.bank-number{
		width: 45px;
		border-right: 1px solid;
		border-color: inherit;
		flex-shrink: 0;
	}
	.bank-progress{
		color: #c9c9c9;
		font-size: 1rem;
		margin-right: 5px;
		flex-shrink: 0;
	}
	footer{
		position: relative;
		margin-top: 20px;
		bottom: 10px;
		width: 100%;
		text-align: center;
		font-size: 1.2rem;
		color: #999999;
	}
	</style>
</block>
<block name="otherjs">
	<include file="./Public/Home/js/localstorage.html" />
	<script type="text/javascript">
	$(function(){
		$('.bank-item').click(function(event) {
			var bank = $(this).attr('id');
			var url = "{:U('Practice/index')}" + '/bank/' + bank;
			location.href = url;
		});
		$('.bank-progress').each(function(){
			var $bank = $(this).parents('.bank-item');
			var userStorage = new UserStorage($bank.attr('id'));
			var $complete = $(this).find('.complete');
			var remoteTime = $bank.data('time');
			if (userStorage.isExist()){
				userStorage.updateVer();	//检查并更新本地数据结构版本
				switch (userStorage.theLatest(remoteTime)){
					case 'local':
						var userData = userStorage.getAll();
						var progress = userData.length;
						$complete.html(progress);
						userStorage.upload();
						break;
					case 'remote':
						userStorage.download();
						break;
				}
			}else if (remoteTime != ''){
				userStorage.download();
			}
		})
	})
	</script>
</block>
<block name="main">
	<img src="__IMG__/bank_bg.png" class="banner">
	<ul>
		<empty name="list">
			<li class="item-case-bg"><span class="center-block">还没有相关题库哦~</span></li>
		</empty>
		<foreach name="list" item="vo">
			<li id="{$vo['alias']}" class="bank-item item-case-bg" data-time="{$vo['update_time']}">
				<div class="bank-number">{$key + 1}</div>
				<div class="bank-name">{$vo['name']}</div>
				<div class="bank-progress flex-end">
					进度：
					<span class="complete">{$vo['progress']}</span>/{$vo['amount']}
				</div>
			</li>
		</foreach>
		<footer>
			—更多资源，请关注公众号“华工小易”—
		</footer>
	</ul>
</block>