<extend name="Public:base" />
<block name="title">易百分-刷题神器</block>
<block name="othercss">
	<style type="text/css">
	body{
		text-align: center;
	}
	h1{font-size: 2rem;}
	h2{font-size: 1.2rem;}
	h1,h2{
		letter-spacing: 2px;
		margin: 15px;
	}
	ul{
		width: 70%;
		display: -webkit-flex; /* Safari */
		display: flex;
		flex-wrap: wrap;
		justify-content: space-around;
		align-items: center;
		align-content: space-around;
		padding: 0px;
		margin-top: 10%;
		margin: 15% auto 0 auto;
	}
	li{
		flex-grow: 0;
		flex-basis: 80%;
		margin: 5% auto 0 auto;
	}
	.logo{
		position: absolute;
		right: 20px;
		top: 10px;
		width: 25%;
		max-width: 150px;
	}
	.title{		
		margin-top: 18%;
	}
	.icon{
		display: -webkit-flex;
		display: flex;
		width: 80px;
		height: 80px;
		border-radius: 40px;
		border: 1px solid #ffd966;
		justify-content: center;
		align-items: center;
		margin: auto auto;
		background-color: rgba(255,217,102,0.05);
		
	}
	.icon:active{
		background-color: rgba(255,217,102,0.5);
	}
	.icon img{
		max-height: 70%;
		max-width: 67%;
	}
	.background{
		position: absolute;
		width: 100%;
		max-height: 30%;
		left: 0px;
		bottom: 0px;
	}

	.modal-content{
		margin: 30% auto 0 auto;
		text-align: center;
	}
	.md-close{
		position: relative;
		display: block;
		margin: 10px auto 0 auto;
		float: none;
	}
	.bb-bgpic{
		margin-top: 10px;
		max-width: 40%;
	}
	.modal-content p{
		margin-top: 20px;
		letter-spacing: 2px;
	}
	</style>
</block>
<block name="main">
	<img class="logo" src="__ROOT__/Public/Common/logo.png" alt="易百分" />
	<!-- <h1 class="title">科目选择</h1> -->
	<ul class="courseList">
		<foreach name="course" item="name">
			<li id="{$key}">
				<a href="{:U('Index/bankList', array('course'=>$key))}"><div class="icon">
					<img src="__IMG__/{$key}.png" alt="{$name}">
				</div></a>
				<h2>{$name}</h2>
			</li>
		</foreach>
	</ul>
	<img src="__IMG__/index_bg.png" alt="" class="background">

	<!-- 公告栏 -->
	<div class="modal fade" id="bulletinBoard" tabindex="-1" role="dialog">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-body">
					<img src="__IMG__/mao.png" class="bb-bgpic">
					<p>热辣滚烫的《毛概》上线啦</p>
					<p>小孩纸，不要刷题哟！</p>
					<button type="button" class="close md-close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				</div>
			</div>
		</div>
	</div>
</block>
<block name="otherjs">
	<script type="text/javascript">
	var localStorage = window.localStorage;
	var bulletinVertion = '16-6-25';
	$(function(){
		var hasReadBulletin = localStorage.getItem('hasReadBulletin');
		if (hasReadBulletin != bulletinVertion){
			$('#bulletinBoard').modal('show');
			localStorage.setItem('hasReadBulletin', bulletinVertion);
		}
	})	
	</script>
</block>