<template name="newOption">
    <div class="input-group">
        <div class="input-group-addon alphaID">{alpha}</div>
        <input type="text" name="option[]" class="form-control" required placeholder="请输入选项" value=""/>
        <div class="input-group-addon">
            <button type="button" class="close"><span aria-hidden="true">&times;</span></button>
        </div>
    </div>        
</template>
<template name="keyCheckbox">
    <label class="checkbox-inline">
        <input type="checkbox" name="key[]" value="{id}">{alpha}
    </label>
</template>
