<extend name="Public:base" />
<block name="title">易百分—{$bank}</block>
<block name="otherjs">
	<include file="Template/questionOption" />
	<include file="./Public/Home/js/localstorage.html" />
	<script src="__JS__/Practice/index.js"></script>
	<script type="text/javascript">
	var bank = '{$bank_alias}';
	var number = {$number};
	var latest = {$latest};
	var total = {$amount};
	var bankStorage = new BankStorage(bank);
	var userStorage = new UserStorage(bank);
	bankStorage.load(function(result){
		if (result == 0){
			QuModal.init({
				bank: bank,
				click: jumpToPage
			});
		}
	});
	$(function(){
		if (userStorage.isExist()){
			var userData = userStorage.getAll();
			if (latest == 1){
				if (userData.length < total && number != userData.length+1){
					number = userData.length+1;
					loadQuestion(number);
				}else if (userData.length == total && number != total){
					number = total;
					loadQuestion(number);
				}else{
					loadUserData(number);
				}
			}else if (number > userData.length+1){
				alert('对不起，不可以跳题哦');
				number = userData.length+1;
				loadQuestion(number);
			}else{
				loadUserData(number);				
			}
		}else{
			$('.options button').each(function(){
				if ($(this).data('checked') == 1){
					showCorrection();
					return false;
				}
			})
			userStorage.download();
		}

	});
	</script>
</block>
<block name="othercss">
	<link rel="stylesheet" type="text/css" href="__CSS__/Practice/index.css">
</block>
<block name="main">
	<nav class="clearfix">
		<img src="__IMG__/menu.png" id="menu" class="pull-right" data-toggle="modal" data-target="#questionListModal" />
		<div class="bank-progress pull-right">
			<span class="number yellow">{$number}</span>
			/ {$amount}
		</div>
	</nav>
	<div class="content">
		<h1 class="title">{$title}</h1>
		<hr class="head-bar"/>
		<ul class="options">
			<foreach name="options" item="op" key="k">
				<li class="checkbox">
					<present name="answer">
						<eq name="answer[$k]" value="1">
							<button class="btn sequence-btn" data-correct="{$op['correct']}" data-checked="1"><php>echo alphaID($k+1);</php></button>
						<else/>
							<button class="btn sequence-btn" data-correct="{$op['correct']}" data-checked="0"><php>echo alphaID($k+1);</php></button>
						</eq>
					<else/>
							<button class="btn sequence-btn" data-correct="{$op['correct']}" data-checked="0"><php>echo alphaID($k+1);</php></button>
					</present>
					{$op['option']}
				</li>
			</foreach>			
		</ul>
		<div class="btn-bar">			
			<button id="pre" class="btn btn-sm yellow bg-white border-yellow">上一题</button>
			<button id="next" class="btn btn-sm white bg-yellow border-yellow">下一题</button>
		</div>
	</div>
	<present name="answer">
		<div class="answer">
	<else/>
		<div class="answer hidden">
	</present>
		<hr class="foot-bar"/>
		<p class="yellow">正确答案：<span class="key">{$key}</span></p>
		<empty name="analysis">
			<p class="hidden">解析：<span class="analysis">{$analysis}</span></p>
		<else/>
			<p>解析：<span class="analysis">{$analysis}</span></p>
		</empty>
	</div>
	<include file="Public/questionsListModal" />
</block>