html,body{
	margin: 0px;
	padding: 0px;
	font-family: Arial, 微软雅黑, sans-serif;
}
template{
	display: none;
}
ul,li{
	margin: auto auto;
	padding: 0px;
	list-style-type:none;
}
.uitest{
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	z-index: -1;
}
button.img-btn{
	border: none;
	padding: 0px;
	background-color: transparent;
}
.img-btn img{
	max-width: 100%;
	max-height: 100%;
}
.item-case{
	height: 30px;
	border: 1px solid #e5e5e5;
	border-radius: 5px;

	display: -webkit-flex; /* Safari */
	display: flex;
	justify-content: space-between;
	align-items: center;

	font-size: 1rem;
	text-align: center;
}
.item-case-bg{
	height: 50px;
	border: 1px solid #e5e5e5;
	border-radius: 10px;

	display: -webkit-flex; /* Safari */
	display: flex;
	justify-content: space-between;
	align-items: center;

	font-size: 1.8rem;
	text-align: center;
}
.flex-end{
	align-self: flex-end;
}
.sequence-btn{
	width: 20px;
	height: 20px;
	border-radius: 5px;
	padding: 0px;
	font-size: 1rem;
	flex-shrink: 0;
	border-color: #e5e5e5;	
	background-color: #fff;
	line-height: 20px;
}
.sequence-btn.checked{
	border-color: #FAC501;
}
.sequence-btn.correct{
	background-color: #32b16c;
	color: #fff;
}
.sequence-btn.incorrect{
	background-color: #ec6941;
	color: #fff;
}
.text-cut{
    text-overflow: ellipsis; 
    -o-text-overflow: ellipsis;
    -moz-text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
/*此处开始无限次怀念less，然而我没用_(:зゝ∠)_*/
.white{
	color: white;
}
.white:active{
	color: white;
}
.white:focus{
	color: white;
}
.white:hover{
	color: white;
}
.bg-white{
	background-color: white;
}
.yellow{
	color: #ffd966;
}
.yellow:active{
	color: #ffd966;
}
.yellow:focus{
	color: #ffd966;
}
.yellow:hover{
	color: #ffd966;
}
.bg-yellow{
	background-color: #ffd966;
}
.border-yellow{
	border-color: #ffd966;
}
.gray{
	color: #c9c9c9;
}
