html,body{
	margin: 0px;
	padding: 0px;
	font-family: Arial, 微软雅黑;
}
template{
	display: none;
}
ul,li{
	margin: auto auto;
	padding: 0px;
	list-style-type:none;
}
.uitest{
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	z-index: -1;
}
.item-case{
	height: 30px;
	border: 1px solid #CCCCCC;
	border-radius: 5px;

	display: -webkit-flex; /* Safari */
	display: flex;
	justify-content: space-between;
	align-items: center;

	font-size: 1rem;
	text-align: center;
}
.flex-end{
	align-self: flex-end;
}
.text-cut{
    text-overflow: ellipsis; 
    -o-text-overflow: ellipsis;
    -moz-text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
/*此处开始无限次怀念less，然而我没用_(:зゝ∠)_*/
.yellow{
	color: #FAC501;
}
.bg-yellow{
	background-color: #FAC501;
}
.border-yellow{
	border-color: #FAC501;
}
@font-face {
    font-family: '微软雅黑';
    src: url('../font/msyh.ttf') format('truetype');
    font-weight: normal;
    font-size: normal;
}
